/* Configurações */
:root {
  font-size: 62.5%;
}

body {
  margin: 0;
  scroll-behavior: smooth;
  background-color: var(--bg-dark);
}

/* Configuração da section  */
.fita_roxa_main{
    background-color: var( --primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2vh;
    padding: 1rem;
}

/* Texto da Section  */
.texto_da_section h1{
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    color: var( --bg-white);
    font-size: 1.5rem;
}