/* Configurações */
:root {
  font-size: 62.5%;
}

body {
  margin: 0;
  scroll-behavior: smooth;
  background-color: var(--bg-dark);
}

/* titulo da seção */
.TituloDaSection{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.TituloDaSection h1{
  font-size: 4rem;
  font-family: "Michroma", sans-serif;
  font-weight: 500;
  color: var(--bg-white)
}

.TituloDaSection h1 span{
    color: var(  --primary-color);
}

/* section de assuntos abordados  */
.assuntosAbordados {
  position: relative;
  max-width: 900px;
  margin: 0 auto;
  padding: 20rem 0;
  min-height: 900px;
}

.linha {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 85%;
}

.linha path {
  stroke: #481CA6;
  stroke-width: 3;
  fill: none;
}

.card {
  position: absolute;
  width: 340px;
  background: #171717;
  margin-top: 1rem;
  border-radius: 2rem;
  padding: 5rem 4rem;
  display: flex;
  gap: 16px;
  color: #fff;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.35);
}

.card-left {
  left: 0;
}

.card-right {
  right: 0;
}

.textoDocard{
    display: grid;
    justify-content: center;
    align-items: center;
}

.check {
  font-size: 5rem;
  color: #6f4cff;
}

.card .textoDocard h3 {
  margin: 0;
  font-size: 2rem;
  font-family: "Michroma", sans-serif;
  font-weight: 500;
}

.card .textoDocard p {
  margin: 6px 0 0;
  font-size: 1rem;
  opacity: 0.85;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
