@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kristi&family=Michroma&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kristi&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baumans&family=Kristi&family=Michroma&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@400;500;700&display=swap');


:root {
  /* Cores */
  --bg-dark: #0D0D0D;
  --primary-color:#481CA6;
  --bg-white:#FFFFFF;

  /* Fontes */
  --font-title: 'Michroma', sans-serif;
  --font-title-cursive: 'Kristi', cursive;
  --font-text: 'Montserrat', sans-serif;
  --font-button: 'Baumans', cursive;
}
