/* Configurações */
:root {
  font-size: 62.5%;
}

body {
  margin: 0;
  scroll-behavior: smooth;
  background-color: var(--bg-dark);
}

/* section principal */
.mainElements{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.mainElements .left .titulo h1{
  color: var(--bg-white);
  font-size: 4rem;
  font-family: "Michroma", sans-serif;
}

.mainElements .left .titulo h1 span{
  color: var(--primary-color);
  font-family: "Kristi", cursive;
  font-weight: 400;
}

.mainElements .left .descricao{
  color: var(--bg-white);
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  width: 40rem;
}

.mainElements .left .dataEhora{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.mainElements .left .dataEhora p{
  color: var(--bg-white);
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
}

.mainElements .left .dataEhora img{
  width: 2rem;
  height: 2rem;
}

.mainElements .left .botao{
  background-color: var(--primary-color);
  width: 30rem;
  border-radius: 1rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainElements .left .botao a{
  display: inline;
  width: 30rem;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: var(--bg-white);
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
}

.mainElements .rigth img{
  width: 50rem;
}